@model IEnumerable<DemoTodo.Models.Todo>

@{
    ViewBag.Title = "Index";
    int a = 123;
    DemoTodo.Models.Todo todo = Model.FirstOrDefault();
}

<h2>Index</h2>
<h3>@ViewBag.Utilisateur</h3>
@* Un commentaire *@
<h1>@a</h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<div>
    @Html.Partial("_Commentaire", Model.FirstOrDefault())
</div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
